# Ambiente virtual
venv/
.venv/
env/

# Python
__pycache__/
*.pyc
*.pyo
*.pyd

comments_dataset.csv

modelagens/

cat >> .gitignore << 'EOF'
hf_cache/
.hf_cache/
cache_huggingface/

*.npy
EOFnotebooks/modelo_final_escolhido/bertopic_model
notebooks/modelo_final_escolhido/df_com_topicos.csv
notebooks/modelo_final_escolhido/bertopic_model/

data/base_pronta_lftk.csv
data/pt_comments.csv
data/resultado_final_lftk.csv
data/resultados_finais.csv